{% extends 'shopping/base.html' %}
{% load static %}

{% block content %}
    <form action="{% url 'store' %}" method="post">
    {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount"/>
        <label for="shop">Shop:</label>
        <select name="shop" id="shop">
            <option value="1">Erster Shop</option>
        </select>
        <Button type="submit">Save</Button>
        <a href="{% url 'index' %}">Cancel</a>
    </form>


{% endblock %}