{% extends 'shopping/base.html' %}
{% load static %}

{% block content %}

    <div  class="col-12">
        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item">{{ item.status }} -
                {{ item.name }} -
                {{ item.amount }} -
                {{ item.shop }}
                </li>
            {%  endfor %}
        </ul>
    </div>

    <a href="{%  url 'add' %}">Add new</a>

{% endblock %}